.cart-img{
   
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 80%;
    margin-left: 40px;


}
.cart-img img{
    width: 40%;
    
}

.button{
    background-image: linear-gradient(rgb(82, 111, 240) ,rgb(255, 21, 216));
    height: 30px;
    width: 90px;
    border-radius: 7px 11px 7px 11px;
    border-color: rgb(238, 95, 12);
    
    color: white;
    
  
    
}